@model Anything.Models.LoginViewModel
@{
    ViewBag.Title = "登入";
}


<div class="wrap">
    <style type="text/css">
        h1{
            color:#428bca;
        }

         h3{
            font-family:"微軟正黑體";
            text-shadow:1px 2px #aaa;
            color:#9f3535;
            font-weight:bold;
        }
    </style>
    <div class="full-width">
        <div class="row one-half">
            

                <div class="" style="text-align:right;">
                    <a href="@Url.Action("Login","AccountForUser")">
                        <div class="full-width">
                            <h1 class="glyphicon glyphicon-hand-left">

                            </h1>
                        </div>
                        <h3>旅客登入</h3>
                    </a>
                </div>


           
            
        </div>

        <div class="one-half">
            <div class="">
                <a href="@Url.Action("Login","Account")">
                    <div class="full-width">
                        <h1 class="glyphicon glyphicon-hand-right"></h1>
                    </div>
                    <h3>民宿登入</h3>

                </a>
            </div>
        </div>
    </div>
</div>




@*<div class="lightbox" style="display:block;">

        @Html.Partial("_LoginLightbox", new Anything.Models.LoginViewModel())

    </div>*@
