@{
    ViewBag.Title = "註冊完成";
}
<div class="wrap">
    <div class="content">
        <section class="error">          
            <div class="error-content">
                <h2 style="color:#40BFB8;">恭喜你已經完成註冊.</h2>
                <h3>請到註冊信箱完成最後認證.</h3>
                <ul>
                    <li>若沒收到認證信，可能在垃圾信件夾中</li>                  
                </ul>
            </div>          
        </section>
    </div>  
</div>


