@*<nav class="navbar navbar-inverse right">
   

    <div class="container-fluid">
        <div class="row">
            <div class="collapse navbar-collapse" id="left-navbar">
                <ul class="nav navbar top-nav">
                   <li> 公告消息/廣告</li>

                </ul>

            </div>
        </div>
    </div>
</nav>*@
<div class="col-md-12" style="padding-left:0;padding-right:0;">
    <div class="col-md-12 right-container">
        <p>
            <h3>廣告</h3>
            <ul class="list">
                <li>ONE</li>
            </ul>
        </p>
    </div>

    <div class="col-md-12 right-container">
        <p>
            <h3>公告</h3>
            <ul class="list">
                <li>ONE</li>
            </ul>
        </p>
    </div>
</div>
