
<style type="text/css">
    #area option {
        display: none;
    }
</style>
<div class="" id="TaiwanDropDownList">
    <div class="one-half">
        @Html.DropDownList("City", null, new { id = "City", @class = "form-control" })
    </div>
    <div class="one-half">
       @Html.DropDownItemList("Area", (List<DropDownListItem>)ViewBag.Area, new { id = "area", @class = "form-control" })
        
    </div>
    <input type="hidden" id="SelectCity" name="SelectCity" />
    <input type="hidden" id="SelectArea" name="SelectArea" />
</div>
<script type="text/javascript">
    jQuery(function () {
        var tw = "#TaiwanDropDownList";
        var city = $("#City", tw);
        var area = $("#area", tw);
        var SelectCity = $("#SelectCity", tw);
        var SelectArea = $("#SelectArea", tw);

        var text = city.find(":selected").val().trim();
        
        if (text != "") {
            area.find("option[data-cid='" + text + "']").show();
        }

        city.on("change", function () {
            var self = $(this);
            var SelectValue = self.val();
            var SelectText = self.find(":selected").text().trim();
            SelectArea.val('');
            area.val(0);
            area.find("option").hide();
            if (SelectValue != "") {
                SelectCity.val(SelectText);
                area.find("option[data-id='" + SelectValue + "']").show();
            }

            if (SelectValue == "0") {
                SelectCity.val('');
                SelectArea.val('');
            }
        });

        area.on("change", function () {
            var self = $(this);
            var SelectValue = self.val();
            var SelectText = self.find(":selected").text().trim();
            area.find("option").hide();
            if (SelectValue != "") {
                SelectArea.val(SelectText);
            }
        });
    })
</script>

