@{
    ViewBag.Title = "註冊完成";
}
<div class="wrap">
    <!--main content-->
    <div class="content">
        <section class="error">
            <!--Error type-->
            <div class="error-type">
                <h1 class="fa fa-thumbs-o-up" style="margin:auto 0;"></h1>
               
            </div>
            <!--//Error type-->
            <!--Error content-->
            <div class="error-content">
                <h2>恭喜你已經完成註冊.</h2>
                <h3>請到註冊信箱完成最後認證.</h3>
                <ul>
                    <li>若沒收到認證信，可能在垃圾信件夾中</li>
                    @*<li> <a href="#">contact us</a> and we’ll fix it.</li>
                    <li>If you’re not sure what you’re looking for, go back to <a href="#">homepage</a>.</li>*@
                </ul>
            </div>
            <!--//Error content-->
        </section>
    </div>
    <!--//main content-->
</div>


