@{
    ViewBag.Title = "註冊完成";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
   郵件認證
</p>
<p class="text-danger">
    <h3>註冊成功</h3>
    <h4>請至註冊信箱收取認證信並完成認證</h4>
    @*For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
    Please change this code to register an email service in IdentityConfig to send an email.*@
</p>
<p class="text-info">
   
    <span>注意信件可能被郵件系統歸納為垃圾郵件夾喔！</span>
   
</p>
